<template>
  <div @click="clickCell" :class="{cell: true, cellX: player==='X', cellO: player==='O', grade: grade}">{{ player }}</div>
</template>
<script>
export default {
  props: ['player', 'row', 'column', 'grade'],
  methods: {
    clickCell (event) {
      console.log(event)
      console.log('click ' + this.row + ' ' + this.column)
      this.$emit('cell-click', this.row, this.column)
    }
  }
}
</script>
<style>
.cell {
  font-size: 30pt;
}
.cellX {
  color: blue;
}
.cellO {
  color: red;
}
.grade {
  background-color: yellow;
}
</style>
