<template>
  <div>
    <!-- <div>turn: {{ turn }} finish: {{ finish }} winner: {{ winner }}</div> -->
    <div v-if="finish">
      <!-- <div v-if="winner!=='-'">{{ winner }} Win!! <button @click="newGame">New Game</button></div>
      <div v-else>Draw!! <button @click="newGame">New Game</button></div> -->
      <!-- <span v-if="winner!=='-'">{{ winner }} Win!!</span>
      <span v-else>Draw!!</span> -->
      <span>{{ result }}</span>
      <button @click="newGame">New Game</button>
    </div>
    <div v-else>turn: {{ turn }}</div>
    <table>
      <tr v-for="(line, lineId) in table" :key="lineId">
        <td v-for="(item, itemId) in line" :key="itemId">
          <OXCell
            :player="item"
            :row="lineId"
            :column="itemId"
            :grade="gradeTable[lineId][itemId]"
            @cell-click="cellClick"
          />
        </td>
        <!-- <td v-for="(item, itemId) in line" :key="itemId"><OXCell :player="table[lineId][itemId]"/></td> -->
      </tr>
    </table>
  </div>
</template>
<script>
import OXCell from './OXCell.vue'
export default {
  data () {
    return {
      count: 0,
      finish: false,
      winner: '-',
      turn: 'O',
      table: [
        ['-', '-', '-'],
        ['-', '-', '-'],
        ['-', '-', '-']
      ],
      gradeTable: [
        [false, false, false],
        [false, false, false],
        [false, false, false]
      ]
    }
  },
  computed: {
    result () {
      // if (this.finish && this.winner === '-') {
      //   return 'Draw!!'
      // } else {
      //   return this.turn + 'Win!!'
      // }
      return this.finish && this.winner === '-'
        ? 'Draw!!'
        : this.turn + 'Win!!'
    }
  },
  methods: {
    newGame () {
      this.count = 0
      this.finish = false
      this.winner = '-'
      this.initTable()
      this.randomPlayer()
    },
    initTable () {
      for (let row = 0; row < 3; row++) {
        for (let column = 0; column < 3; column++) {
          this.table[row][column] = '-'
        }
      }
      for (let row = 0; row < 3; row++) {
        for (let column = 0; column < 3; column++) {
          this.gradeTable[row][column] = false
        }
      }
    },
    cellClick (row, column) {
      if (this.finish) return
      console.log('Cell click ' + row + ' ' + column)
      if (this.table[row][column] === '-') {
        this.table[row][column] = this.turn
        this.count++
        if (this.checkWin(row, column)) {
          console.log('win')
          this.finish = true
          this.winner = this.turn
          return
        }
        if (this.count === 9) {
          this.finish = true
          return
        }
        this.switchTurn()
      }
    },
    switchTurn () {
      if (this.turn === 'O') {
        this.turn = 'X'
        return
      }
      this.turn = 'O'
    },
    randomPlayer () {
      // console.log(Math.floor(100 * Math.random()) % 2)
      if (Math.floor(100 * Math.random()) % 2 === 0) {
        this.turn = 'O'
      } else {
        this.turn = 'X'
      }
    },
    checkWin (row, column) {
      if (
        this.checkRow(row) ||
        this.checkCol(column) ||
        this.checkX1() ||
        this.checkX2()
      ) {
        return true
      }
    },
    checkRow (row) {
      for (let column = 0; column < 3; column++) {
        if (this.table[row][column] !== this.turn) {
          return false
        }
      }
      for (let column = 0; column < 3; column++) {
        this.gradeTable[row][column] = true
      }
      return true
    },
    checkCol (column) {
      for (let row = 0; row < 3; row++) {
        if (this.table[row][column] !== this.turn) {
          return false
        }
      }
      for (let row = 0; row < 3; row++) {
        this.gradeTable[row][column] = true
      }
      return true
    },
    checkX1 () {
      for (let index = 0; index < 3; index++) {
        if (this.table[index][index] !== this.turn) {
          return false
        }
      }
      for (let index = 0; index < 3; index++) {
        this.gradeTable[index][index] = true
      }
      return true
    },
    checkX2 () {
      for (let index = 0; index < 3; index++) {
        if (this.table[index][2 - index] !== this.turn) {
          return false
        }
      }
      for (let index = 0; index < 3; index++) {
        this.gradeTable[index][2 - index] = true
      }
      return true
    }
  },
  components: {
    OXCell
  },
  mounted () {
    this.randomPlayer()
  }
}
</script>
<style>
table {
  margin-left: auto;
  margin-right: auto;
  border: 1pt solid black;
}
td {
  text-align: center;
  vertical-align: middle;
  width: 50pt;
  height: 50pt;
}
</style>
